@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/Supreme-Variable.woff2) format('woff2-variations');
    font-family: 'Supreme';
  }
  @font-face {
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/SpaceGrotesk-Variable.woff2) format('woff2-variations');
    font-family: 'SpaceGrotesk';
  }
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    font-family: 'SpaceGrotesk';

    @media screen(lg) {
      font-size: 64px;
      line-height: 1.25;
    }
  }
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.276;
    font-family: 'SpaceGrotesk';

    @media screen(lg) {
      font-size: 36px;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.276;
    font-family: 'SpaceGrotesk';
    letter-spacing: 0.1em;

    @media screen(lg) {
      font-size: 24px;
    }
  }
}

@layer components {
  /* Note: anything you might want to @apply elsewhere should be defined as a plugin in tailwind.config.js,
           as explained here: https://tailwindcss.com/docs/functions-and-directives#using-apply-with-per-component-css */
}
