<!--
  input: []
  params:
    - name: values
      label: Values
      value:
        - control: textbox
          value: versicolor,setosa,vergica
  output: [ dropdown, html ]
  interactive: true
-->

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<div class="control">
  <template>
    <section>
      <b-select v-model="value">
        <option v-for="o in options" :value='o'>
          {{ o }}
        </option>
      </b-select>
    </section>
  </template>
</div>

<script>
  var state = hal9.getState();
  state = state ? state : {};
  values = values.split(',');
  
  dropdown = state.dropdown ? state.dropdown : values[0];

  var app = new Vue({
    el: html.getElementsByClassName('control')[0],
    data: {
      value: dropdown,
      options: values
    },
    watch: {
      value: function(e) {
        state.dropdown = e;
        hal9.setState(state);
        hal9.invalidate();
      }
    }
  })

  html.style.height = 'auto';
</script>