<!--
  input: []
  params:
    - name: values
      label: Values
      value:
        - control: textbox
          value: versicolor,setosa,virginica
    - name: value
      label: Selected
      value:
        - control: textbox
  output: [ dropdown, html ]
  interactive: true
  layout:
    - width: inner
-->

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<div class="control">
  <template>
    <section>
      <b-select v-model="value">
        <option v-for="o in options" :value='o'>
          {{ o }}
        </option>
      </b-select>
    </section>
  </template>
</div>

<script>
  values = typeof(values) === 'object' ? values : values.split(',');
  value = hal9.getState(values[0]);

  var app = new Vue({
    el: html.getElementsByClassName('control')[0],
    data: {
      value: value,
      options: values
    },
    watch: {
      value: function(value) {
        hal9.setState(value, true);
      }
    }
  })

  html.style.height = 'auto';
</script>