<!--
  input: []
  params:
    - name: values
      label: Values
      value:
        - control: textbox
          value: versicolor,setosa,virginica
  output: [ dropdown, html ]
  events: [ on_update ]
  interactive: true
  layout:
    - width: inner
-->

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<div class="control">
  <template>
    <section>
      <b-select v-model="value">
        <option v-for="o in options" :value='o'>
          {{ o }}
        </option>
      </b-select>
    </section>
  </template>
</div>

<script>
  values = typeof(values) === 'object' ? values : values.split(',');
  var dropdown = hal9.get('dropdown');

  var app = new Vue({
    el: html.getElementsByClassName('control')[0],
    data: function() {
      var vue = this;

      hal9.onEvent('onParams', function(param, values) {
        if (param != 'values') return;
        vue.options = typeof(values) === 'object' ? values : values.split(',');
      })

      return {
        value: dropdown,
        options: values
      }
    },
    watch: {
      value: function(value) {
        hal9.set('dropdown', value);
      }
    }
  })

  html.style.height = 'auto';
</script>