<!--
  input: []
  params:
    - name: caption
      label: 'Caption'
      value:
        - control: textbox
          label: Text
          value: Upload
    - name: dragDrop
      label: Drag and Drop
      value:
        - control: select
          value: false
          values:
            - name: false
              label: No
            - name: true
              label: Yes
  output: [ html, inputFile ]
  events: [ on_update ]
  layout:
    - width: inner
      height: 40px
-->

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">

<div class="inputFileContainer">
<template>
    <b-field class="file is-primary" :class="{'has-name': !!file}">
      <b-upload v-model="file" class="file-label" @change.native="numChange" :drag-drop="dragDrop">
        <span v-if="!dragDrop" class="file-cta">
            <b-icon class="file-icon" icon="upload"></b-icon>
              <span class="file-label">{{ caption }}</span>
            </span>
            <span class="file-name" v-if="file">{{ file.name }}</span>
         <section v-if="dragDrop" class="section">
                    <div class="content has-text-centered">
                        <p>
                            <b-icon
                                icon="upload"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Drop your files here or click to upload</p>
                    </div>
                </section>
      </b-upload>
    </b-field>
</template>
</div>

<script>
  var state = hal9.getState();
  state = state ? state : {};
  var inputFile = '';
  if (state.inputFile) {
    inputFile = state.inputFile;
    value = inputFile;
  }

  var app = new Vue({
    el: html.getElementsByClassName('inputFileContainer')[0],
    data: {
      file: null,
      caption: caption,
      dragDrop: dragDrop
    },
    methods: {
      numChange(e) {
        const reader = new FileReader();

        reader.onload = async (e) => {
          const text = (e.target.result);
          state.inputFile = text
          hal9.setState(state);
          hal9.invalidate();
        };
      
        reader.readAsDataURL(e.target.files[0]);
      }
    }
  })
</script>