[tool.poetry]
name = "hal9"
version = "0.0.1"
description = "Design Interactive Data Apps Without Web Dev"
authors = ["Anchit Sadana", "Hal9 Inc."]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.79.0"
uvicorn = {extras = ["standard"], version = "^0.18.3"}

[tool.poetry.dev-dependencies]
PyYAML = "^6.0"
maturin = "^0.13.3"

[build-system]
requires = ["poetry-core>=1.0.0", "maturin>=0.13,<0.14"]
build-backend = "maturin"

[tool.maturin]
python-source = "python/hal9"

