name: Python

on:
  push:
    paths:
      - python/**
      - server/**
      - .github/workflows/python.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: |
          poetry install --no-interaction
        working-directory: "python"
      - name: Install pyteset
        run: |
          pip install pytest
        working-directory: "python"
      - name: Run tests
        run: |
          pytest tests
        working-directory: "python"
  build:
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Copy readme
        run: cp README.md python/README.md
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.16
        with:
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          package_directory: "python"
