name: Python

# https://raw.githubusercontent.com/messense/crfs-rs/main/.github/workflows/Python.yml

on:
  push:
    paths:
      - python/**
      - server/**
      - .github/workflows/python.yaml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Copy readme
        run: cp README.md python/README.md
      - name: Prepare build
        uses: JRubics/poetry-publish@v1.16
        with:
          package_directory: "python"
          poetry_publish_options: "--dry-run"
      - name: Run tests
        working-directory: "python"
        run: pytest tests
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.16
        with:
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          package_directory: "python"
