name: Python

on:
  push:
    paths:
      - python/**
      - server/**
      - .github/workflows/python.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: |
          sudo apt install python3-venv
          python3 -m venv .venv
          source .venv/bin/activate
          poetry install --no-interaction
          pip install .
        working-directory: "python"
      - name: Configure Poetry with PyPI token
        run: |
          source .venv/bin/activate
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
        working-directory: "python"
      - name: Install pyteset
        run: |
          source .venv/bin/activate
          pip install pytest
        working-directory: "python"
      - name: Run tests
        run: |
          source .venv/bin/activate
          pytest tests
        working-directory: "python"
  build:
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Copy readme
        run: cp README.md python/README.md
      - name: Debug Poetry Configuration
        run: |
          source .venv/bin/activate
          poetry config --list
        working-directory: "python"
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.16
        with:
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          package_directory: "python"
